<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A member has requested a dividend payout.</p>
    <p><b>Email</b>: <%= @user.email %></p>
    <p><b>PayId</b>: <%= @member.payid %></p>
    <a><%= link_to "Dividend", admin_dividend_url(@dividend) %></a>
  </body>
</html>

