<main>
  <article>
    <%= turbo_stream_from 'member_count' %>
    <p><b>Member Count</b>: <%= render partial: 'member_count' %></p>
    <p><b>Total Pool</b>: <%= @total_pool %></p>
  </article>
  <nav>
    <%= render partial: 'authentication' %>
  </nav>
</main>
