<details>
  <summary>How does it work?</summary>
  <p>Members contribute what they can every week into a shared pool, and that pool is then divided at the end of the week equally between all members of the group.</p>
  <p>There is no minimum that members are required to give every week and anyone can join.</p>
  <p>Distributions will occur every week on a <%= DistributionDateService::DAY_OF_THE_WEEK %>.</p>
</details>
