<details>
  <summary>How does it work?</summary>
  <p>Members contribute what they can into a shared pool and every <%= DistributionDateService::DAY_OF_THE_WEEK %> the pool is distributed equally among all members as dividends.</p>
  <p>Dividends can either be recontributed back into the pool for the next week's distribution or paid out as cash.</p>
  <p>There is no minimum that members are required to give and anyone can join.</p>
</details>
