<% content_for :title, 'Check Email Spam' %>
<div class="space-y-4">
  <h1 class="text-3xl font-bold text-primary">Check Your Email</h1>
  <div class="card bg-base-200 shadow-sm">
    <div class="card-body">
      <div role="alert" class="alert alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 size-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Please check your email, and the spam folder, for the confirmation email.</span>
      </div>
    </div>
  </div>
</div>
