<% content_for :title, 'Mission' %>
<article>
  <h2>Mission</h2>
  <ul>
    <li>To make it easier for everyone to support each other.</li>
  </ul>
  <h2>Goal</h2>
  <ul>
    <li>To make giving unconditionally more commonplace and habitual and to create an empowering common resource.</li>
  </ul>
  <h2>Value</h2>
  <p><strong>Trust</strong>: In every human's innate goodness.</p>
  <ul>
    <li>Flourish will not require users to provide additional personal details beyond what it needs to determine personhood, communicate, and pay out funds.</li>
    <li>Flourish will not ask members what they plan on using their dividend for.</li>
  </ul>
</article>
<nav>
  <%= link_to 'Distributions', distributions_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
