<% content_for :title, 'Mission' %>
<article>
  <h2>Mission</h2>
  <blockquote>
    <p>To make it easier for everyone to support each other.</p>
  </blockquote>
  <h2>Goals</h2>
  <ul>
    <li>To make giving unconditionally more socially acceptable.</li>
    <li>To increase support for cooperatives, Universal Basic Income, and other collective causes.</li>
    <li>To increase meaningful work, creative industries, and future focused projects.</li>
    <li>To move humanity closer to a post scarcity civilization and the end of money.</li>
  </ul>
  <h2>Value</h2>
  <p><strong>Trust</strong>: In every human's innate goodness.</p>
  <ul>
    <li>Beyond what it needs to determine personhood, communicate, and pay out funds, Flourish will not require users to provide additional personal details.</li>
    <li>Flourish will not ask members what they plan on using their dividend for.</li>
  </ul>
</article>
