<% content_for :title, 'Post Fear'  %>
<h1>Post Fear</h1>
<article>
  <p>Flourish is a scaffold, and what it is facilitating is Post Fear.</p>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
