<% content_for :title, 'Post Fear'  %>
<h1>Post Fear</h1>
<article>
  <p>Flourish is a scaffold, and what it is facilitating is Post Fear.</p>
  <p></p>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>

Surely there is a process to this, A way that all my conceptual models can fit together. Like Mitchell Smith's oil refinery at the Port of Brisbane.

Is the User Journey
- Entry
- Explore
- Sign On
- Recieve Dividend
- Pay Out
- Contribute
