<% content_for :title, 'Snippets'  %>
<h1>Snippets</h1>
<article>
  <h2>The Wasteland</h2>
  <h3>The Surface</h3>
  <p>These problems...</p>
  <ul>
    <li>Poverty</li>
    <li>Planned obsolesence</li>
    <li>Obesity</li>
    <li>Factory farming</li>
    <li>Climate change</li>
    <li>Military industrial complex</li>
    <li>Mass media</li>
    <li>Bullshit jobs</li>
    <li>Worker exploitation</li>
    <li>Factory education</li>
    <li>Gambling industry.</li>
    <li>Fossil fuels</li>
    <li>Property market</li>
    <li>Mass incarceration</li>
  </ul>
  <p>Are the result of a system oriented around resource silos underpinned by exchange and fear.</p>

  <h3>What is Driving This</h3>
  <p>Retributive Justice</p>
  <p>Money is not a good mechanism for getting societies needs met.</p>
  <h3>Silos</h3>
  <p>It is characterised by silos of resources, which are only released when something of equal value is exchanged.</p>
  <p>Look around you, and you'll see the bricks of these silos: Locked doors and fences, to borders and armies.</p>
  <h3>Fear</h3>
  <p>Our current system is built from violence and maintained by fear.</p>
  <p>This is the impetus that creates the silos in the first place.</p>
  <p>These are the bricks that constitute it's structure.</p>
  <h3>Exchange</h3>
  <p>The basis of the the system of fear and silos, is exchange.</p>
  <p>Don't have anything to trade? Have no interest in doing a task? Well then you're going to starve.</p>
  <p>I will only give you something, if I get something of equal value in return.</p>
  <p>That is the habit that we need to break; one interaction at a time.</p>
  <h3>The Cycle</h3>
  <p>Suspects everyone as worthy of suspicion.</p>
  <p>It's only the system that nudges us to unproductive and distructive behaviour.</p>
  <p>No one person was responsible for creating it, and no one person can change it.</p>
  <p>This spiral, people get despereate.</p>
  <p>The natural world constantly getting eaten up.</p>
  <h3>The Result</h3>
  <p>It reduces us to cogs in a machine and with an entrenched collective scarcity mentality.</p>
  <p>Resources that could have gone to providing sheldering us, are used to box us in.</p>
  <p>We don't have to be so hard on each other, we don't have to make little children sit still at desks, and or make welfare recipients apply for jobs, and the world won't fall apart.</p>
  <p>We have a system that instills and promotes bad habits. (Greber said this) we need to opposite.</p>
</article>
<article>
  <h2>Flourish</h2>
  <p>Lets kick the habit of distrust</p>
  <p>Lets start thinking how we can make life more wonderful for everyone, rather than how we can make more money for ourselves.</p>
  <p>A post scarcity society starts here</p>
  <p>Spread soil around and watch things grow.</p>
  <p>It’s not worth maintaining a system of collective punishment, let's build a system of collective trust.</p>
  <p>Change the game</p>
  <p>Lots of members, lots if contributions, lots of pay outs</p>
  <p>Something simple.<p>
  <p>Planting a seedling and not see it grow to a tree.<p>
  <p>It doesn’t matter whether you’ve cone to give, take, or watch. Everyone is made better by participating.<p>
  <p>Our path to system change.</p>
  <p>Lets sow the seeds of a post scarcity civilisation.</p>
  <h3>Lasting Political Change</h3>
  <p>More people, with more needs met, means more compromise, and more contentment.</p>
  <h3>Reduce the Distance from Harm</h3>
  <p>Less people forced to do harm in order to get money, means less harm.</p>
  <h3>Antidote to Fear and Dread.</h3>
  <p>Uplifting</p>
  <p>Don't Panic</p>
  <h3>Global Feedback View</h3>
  <p>See the world become a better place in real time.</p>
  <p>A dividend is an indication of how much we are willing to trust each other.</p>
  <p>A vote for an alternate system</p>
  <h3>A Rolling Election</h3>
  <p>A rolling referendum on our current system.</p>
  <p>Putting the commons to the test</p>
  <p>Choosing a different way to live, one dollar at a time.</p>
  <p>A measure of how willing we are to transition to a system where resources are willingly shared and our full potential realised.</p>
  <p>Removing a brick from the top of our fence, and seeing if our neighbors do the same.<p>
  <h3>Technical Discussions</h3>
  <p>Public Audit</p>
  <p>You need to do a lot of work to collect multiple dividends.</p>
</article>
<article>
  <h2>Paradise</h2>
  <p>A Cycle of Commons based on Trust and Contribution</p>
  <h3>The Commons</h3>
  <p>A resource we can use to get our needs met.</p>
  <h3>Trust</h3>
  <p>Our whole, opened up to new experiences and relationships.</p>
  <p>Apparently we as humans are fundumentally good.</p>
  <p>With our need for food and shelter met, we'll be able to contribute in all the other domains.</p>
  <p>We take what we need and contribute our surplus to the commons.</p>
  <h3>Contribution</h3>
  <p>Bordom based inputus to do meaningful work.</p>
  <p>A Bordem based, rather than a fear based, economy.</p>
  <h3>The Cycle</h3>
  <p>A Simple Feedback Loop</p>
  <p>People contribute.</p>
  <p>Monkey See, Monkey Do.</p>
  <p>People contribute more.</p>
  <p>More people able to help, more people able to be helped, and in turn help others.</p>
  <h3>The Result</h3>
  <p>Meaningful work will always get done.</p>
  <p>Communism as a Service</p>
  <p>From each according to their ability, to each according to their need.</p>
  <p>Post Fear</p>
  <p>Let’s trust that others will give what they can and use what they need and see what happens.</p>
  <p>Flourish is a scaffold, and what it is facilitating is Post Fear.</p>
  <p>Post Scarcity</p>
  <p>Imagine what the world would look like if people did things only if they really wanted to.</p> 
  <p>Working backwards from abundant housing, food, and stuff.</p>
  <p>Working backwards from Ring Worlds, Dyson Swarms.</p>
  <p>A Bordem based, rather than a fear based, economy. People solving real problems.</p>
  <p>A global support system that will uplift us all, where everyone can thrive.</p>
  <p>A politics where people are able to act on their conscience.</p>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
