<% content_for :title, 'Snippets'  %>
<h1>Snippets</h1>
<article>
  <h2>A System Fear</h2>
  <p>Our current system is built from violence and maintained by fear.</p>
  <p>It holds up resources in silos, and only conditionally releases them.</p>
  <p>Don't have anything to trade? Have no interest in doing a task? Well then you're going to starve.</p>
  <p>It reduces us to cogs in a machine.</p>
  <p>Locked doors and fences: Fear<p>
  <p>Borders and passports: Fear<p>
  <p>Taxes, law, passports, locked doors, national governments.</p>
  <p>Entrenched scarcity mentality.</p>
</article>
<article>
  <h2>A Trust System</h2>
  <p>Apparently we as humans are fundumentally good</p>
  <p>Let’s trust that others will give what they can and use what they need and see what happens.</p>
  <p>Public goods over exchange</p>
  <p>Trust over fear</p>
  <p>Meaningful work will always get done.</p>
  <p>Imagine what the world would look like if people did things only if they really wanted to.</p> 
</article>
<article>
  <h2>A Simple Feedback Loop</h2>
  <p>People contribute.</p>
  <p>Monkey See, Monkey Do.</p>
  <p>People contribute more.</p>
  <h3>Communism as a Service</h3>
  <p>From each according to their ability, to each according to their need.</p>
  <p>More people able to help, more people able to be helped, and in turn help others.</p>
</article>
<article>
  <h2>Flourish</h2>
  <p>Spread soil around and watch things grow.</p>
  <h3>Lasting Political Change</h3>
  <p>More people, with more needs met, means more compromise, and more contentment.</p>
  <h3>Reduce the Distance from Harm</h3>
  <p>Less people forced to do harm in order to get money, means less harm.</p>
  <h3>Antidote to Fear and Dread.</h3>
  <p>Uplifting</p>
  <p>Don't Panic</p>
  <h3>Global Feedback View</h3>
  <p>See the world become a better place in real time.</p>
  <p>A dividend is an indication of how much we are willing to trust each other.</p>
  <p>A vote for an alternate system</p>
  <h3>A Rolling Election</h3>
  <p>A rolling referendum on our current system.</p>
  <p>Putting the commons to the test</p>
  <p>Choosing a different way to live, one dollar at a time.</p>
  <p>A measure of how willing we are to transition to a system where resources are willingly shared and our full potential realised.</p>
  <p>Removing a brick from the top of our fence, and seeing if our neighbors do the same.<p>
</article>
<article>
  <h2>Post Fear</h2>
  <p>Flourish is a scaffold, and what it is facilitating is Post Fear.</p>
  <p>We don't have to be so hard on each other, we don't have to make little children sit still at desks, and or make welfare recipients apply for jobs, and the world won't fall apart.</p>
</article>
<article>
  <h2>Post Scarcity</h2>
  <p>Working backwards from abundant housing, food, and stuff.</p>
  <p>Working backwards from Ring Worlds, Dyson Swarms.</p>
  <p>A Bordem based, rather than a fear based, economy. People solving real problems.</p>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
