<% content_for :title, 'Snippets'  %>
<h1>Snippets</h1>
<article>
  <h2>Flourish</h2>
  <p>Spread soil around and watch things grow.</p>
</article>
<article>
  <h2>Post Fear</h2>
  <p>Flourish is a scaffold, and what it is facilitating is Post Fear.</p>
  <p>We don't have to be so hard on each other, we don't have to make little children sit still at desks, and or make welfare recipients apply for jobs, and the world won't fall apart.</p>
</article>
<article>
  <h2>Post Scarcity</h2>
  <p>Working backwards from abundant housing, food, and stuff.</p>
  <p>Working backwards from Ring Worlds, Dyson Swarms.</p>
</article>
<article>
  <h2>A Global Support System</h2>
  <p>Communism as a Service</p>
  <p>From each according to their ability, to each according to their needs</p>
  <p>Let’s trust that others will give what they can and use what they need and see what happens.</p>
  <p>Something simple, no more need for tax law, passports, locked doors.</p>
  <p>No more cogs in the machine.</p>
  <p>Our current system was built from violence and maintained on fear.</p>
  <p>Public goods over exchange</p>
  <p>Lasting Political Change</p>
  <p>Reduce the Distance to Harm</p>
  <p>Trust over fear</p>
  <p>Meaningful Work</p>
  <p>Meaningful work will always get done.</p>
  <p>A Bordem based, rather than a fear based, economy.</p>
  <p>Imagine what the world would look like if people did things only if they really wanted to.</p> 
</article>
<article>
  <h2>Global Feedback View</h2>
  <p>A dividend is an indication of how much we care for strangers.</p>
  <p>An Antidote to my own fear and dread.</p>
  <p>see the world become a better place in real time.</p>
</article>
<article>
  <h2>A Rolling Election</h2>
  <p>Lets put the commons to the test</p>
  <p>Let's choose a different way to live, one dollar at a time.</p>
  <p>Vote for an alternate system</p>
  <p>A rolling referendum on our current system and how willing we are to transition to a system where resources are willingly shared and our full potential realised.</p>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
