<% content_for :title, 'Snippets'  %>
<h1>Snippets</h1>
<article>
  <h2>The Wasteland</h2>
  <h3>The Surface</h3>
  <h4>Characteristics</h4>
  <ul>
    <li>Wasted human potential</li>
    <li>Cogs in the machine</li>
    <li>Scarcity mentality</li>
    <li>High distance from harm</li>
    <li>Restricted access</li>
  </ul>
  <h5>Examples</h5>
  <ul>
    <li>Wars</li>
    <li>Mass media</li>
    <li>Factory farming</li>
    <li>Gambling industry.</li>
    <li>Fossil fuel industry</li>
    <li>Planned obsolesence</li>
    <li>Retributive justice</li>
    <li>Restristed supply</li>
    <li>Mass incarceration</li>
    <li>Factory education</li>
    <li>Climate change</li>
    <li>Worker exploitation</li>
    <li>Welfare industry</li>
    <li>Bullshit jobs</li>
    <li>Obesity</li>
    <li>Poverty</li>
  </ul>
  <h3>The Mechanics</h3>
  <h4>Silos</h4>
  <p>Stockpiles of resources.</p>
  <h5>Examples</h5>
  <ul>
    <li>Banking</li>
    <li>Property market</li>
    <li>Asset market</li>
    <li>Nation States</li>
  </ul>
  <h4>Fear</h4>
  <p>These are the bricks that constitute it's structure.</p>
  <h4>Exchange</h4>
  <p>This is the mortar between the bricks.</p>
  <h4>The Spiral</h4>
  <p>Downward, as free resources are eaten up.</p>
</article>
<article>
  <h2>Flourish</h2>
  <h3>Characteristics</h3>
  <h4>Feedback View</h4>
  <h4>Rolling Election</h4>
  <h3>Technical Discussions</h3>
  <h4>Public Audit</h4>
  <h4>More hurdles for more dividends.</h4>
</article>
<article>
  <h2>Paradise</h2>
  <h3>The Mechanics</h3>
  <h4>Trust</h4>
  <h4>Common Resources</h4>
  <h4>Contribution</h4>
  <p>We take what we need and contribute our surplus to the commons.</p>
  <h4>The Spiral</h4>
  <p>A Simple Feedback Loop</p>
  <p>With our need for food and shelter met, we'll be able to contribute in all the other domains.</p>
  <p>Bordom based inputus to do meaningful work.</p>
  <p>A Bordem based, rather than a fear based, economy.</p>
  <p>People contribute.</p>
  <p>Monkey See, Monkey Do.</p>
  <p>People contribute more.</p>
  <p>More people able to help, more people able to be helped, and in turn help others.</p>
  <h3>The Surface</h3>
  <h4>Characteristics</h4>
  <ul>
    <li>Fullfilling human potential</li>
    <li>Lasting political change</li>
    <li>Abundance mentality</li>
    <li>Low distance to harm</li>
    <li>Open access</li>
    <li>Meaningful work</li>
  </ul>
  <h5>Examples</h5>
  <ul>
    <li>Abundant Housing</li>
    <li>Abundant Food</li>
    <li>Universal replicator</li>
    <li>Wilderness</li>
    <li>Mega Projects</li>
    <li>Planetary equilibrium</li>
  </ul>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
