<% content_for :title, 'The Terrain'  %>
<h1>The Terrain</h1>
<article>
  <h2>The Wasteland</h2>
  <h3>The Surface</h3>
  <h4>Characteristics</h4>
  <ul>
    <li>Wasted human potential</li>
    <li>Cogs in the machine</li>
    <li>Scarcity mentality</li>
    <li>High distance from harm</li>
    <li>Restricted access</li>
  </ul>
  <h5>Examples</h5>
  <ul>
    <li>Wars</li>
    <li>Mass media</li>
    <li>Factory farming</li>
    <li>Gambling industry.</li>
    <li>Fossil fuel industry</li>
    <li>Planned obsolesence</li>
    <li>Retributive justice</li>
    <li>Punative use of force</li>
    <li>Restristed supply</li>
    <li>Mass incarceration</li>
    <li>Factory education</li>
    <li>Climate change</li>
    <li>Worker exploitation</li>
    <li>Welfare industry</li>
    <li>Bullshit jobs</li>
    <li>Obesity</li>
    <li>Poverty</li>
  </ul>
  <h3>The Mechanics</h3>
  <h4>Silos</h4>
  <p>Stockpiles of resources.</p>
  <h5>Examples</h5>
  <ul>
    <li>Banking</li>
    <li>Property market</li>
    <li>Asset market</li>
    <li>Nation states</li>
  </ul>
  <h4>Fear</h4>
  <p>These are the bricks that constitute it's structure.</p>
  <h5>Examples</h5>
  <ul>
    <li>Discrimination</li>
  </ul>
  <h4>Exchange</h4>
  <p>This is the mortar between the bricks.</p>
  <h5>Examples</h5>
  <ul>
    <li>Currencies</li>
    <li>Credit</li>
  </ul>
</article>
<article>
  <h2>Flourish</h2>
  <h3>Characteristics</h3>
  <h4>Feedback View</h4>
  <p>See the world become a better place in real time.</p>
  <h4>Rolling Election</h4>
  <p>We get to choose what kind of world we want.</p>
  <h4>Evangelism</h4>
  <p>Help people connect the dots.</p>
</article>
<article>
  <h2>Paradise</h2>
  <h3>The Mechanics</h3>
  <h4>Trust</h4>
  <p>We trust in human goodness, to meet needs, and pursue meaningful work.</p>
  <h4>Contribution</h4>
  <p>In one's labour and goods.</p>
  <p>We take what we need and contribute our surplus to the commons.</p>
  <h4>Common Resources</h4>
  <p>Resources free at the point of use to meet needs.</p>
  <h3>The Surface</h3>
  <h4>Characteristics</h4>
  <ul>
    <li>Fullfilling human potential</li>
    <li>Lasting political change</li>
    <li>Abundance mentality</li>
    <li>Low distance to harm</li>
    <li>Open access</li>
    <li>Meaningful work</li>
  </ul>
  <h5>Examples</h5>
  <ul>
    <li>Abundant Housing</li>
    <li>Abundant Food</li>
    <li>Universal replicator</li>
    <li>Wilderness</li>
    <li>Mega Projects</li>
    <li>Restorative justice</li>
    <li>Protective use of force</li>
    <li>Planetary equilibrium</li>
  </ul>
</article>
<nav>
  <%= link_to 'Mission', mission_path, class: 'button' %>
  <%= render partial: 'authentication' %>
</nav>
