<main>
  <h1>Flourish</h1>
  <article>
    <p><span id="member_count"><%= @member_count %></span> members</p>
    <p>Contributing a total of $<span id="contribution_total"><%= @contribution_total %></span></p>
    <p>For a total dividend of $-</p>
    <p>Next dividend paid on - of - -</p>
  </article>
</main>
