<details class="collapse collapse-arrow bg-base-200 border border-base-300 mb-3">
  <summary class="collapse-title font-semibold text-secondary text-sm">What else is required?</summary>
  <div class="collapse-content text-sm text-base-content/80 space-y-2">
    <p>Nothing! 🥳</p>
    <p>You'll now automatically be included in the next distribution.</p>
    <p>Members can also send contributions and receive pay outs once a <%= link_to 'PayPal.Me', 'https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me', target: '_blank', class: 'link link-primary' %> handle has been attached to their membership.</p>
  </div>
</details>
