<details>
  <summary>Which Members can Receive Dividends?</summary>
  <p>All members will recieve dividends as part of the weekly distributions once they create an account.</p>
  <p>Members can also send contributions and receive pay outs once a <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me ID</a> has been attached to their membership.</p>
</details>
