<details>
  <summary>What else is required?</summary>
  <p>Nothing! 🥳</p>
  <p>You'll now automatically be included in the next distribution on <%= NextDistributionService.date_formatted %>.</p>
  <p>Members can also send contributions and receive pay outs once a <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me ID</a> has been attached to their membership.</p>
</details>
