<details>
  <summary>Your Membership</summary>
  <p>Members will be included in weekly Distributions once their email has been confirmed.</p>
  <p>Once a <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me ID</a> is entered, members can then send Contributions and receive Pay Outs.</p>
</details>
