<main>
  <h1>Dividends</h1>
  <% if @dividends.any? %>
    <% @dividends.each do |dividend| %>
      <article>
        <p>
          <%= dividend.distribution.dividend_amount_formatted %>
        </p>
      </article>
    <% end %>
  <% else %>
    <article>
      <p>[No dividends]</p>
    </article>
  <% end %>
</main>
