<main>
  <h1>Membership</h1>
  <article>
    <p><b>Status</b>: <%= @member.active.capitalize %></p>
    <p><b>PayID</b>: <%= @member.payid || '[Add PayID to activate Membership]' %></p>
  </article>
</main>
