<h1>Membership</h1>
<article>
  <p><strong>Status</strong>: Active</p>
  <ul>
    <li>
      Confirmed Email: 
      <% if current_user.confirmed? %>
        ✅ 
      <% else%>
        ☑️ 
      <% end %>
    </li>
  </ul>
</article>
<nav>
  <%= link_to dividends_path, class: 'button' do %>
    Dividends
  <% end %>
  <%= link_to pay_outs_path, class: 'button' do %>
    Pay Outs
  <% end %>
  <%= link_to edit_user_registration_path, class: 'button' do %>
    Account
  <% end %>
</nav>
