<main>
  <h1>Membership</h1>
  <article>
    <p><b>Status</b>: <%= @member.active.capitalize %></p>
    <p><b>PayID</b>: <%= @member.payid || '[Add PayID to activate Membership]' %></p>
  </article>
  <details>
    <summary>Receiving a Dividend Payout</summary>
    <p>An Australian <a href="https://payid.com.au/" target="_blank">PayID</a> is required to recieve dividends.</p>
    <p>Members will be notified via email when a new dividend has been issued.</p>
    <p>Once issued, members can choose to have their dividend paid out or can recontribute their dividend towards the next week's pool.</p>
    <p>Don't have an Australian PayID? Members will be notified when new transfer methods become available.</p>
  </details>
  <nav>
    <%= link_to payid_path, class: 'button' do %>
      PayID
    <% end %>
    <%= link_to dividends_path, class: 'button' do %>
      Dividends
    <% end %>
  </nav>
</main>
