<main>
  <h1>Membership</h1>
  <article>
    <p><b>Status</b>: <%= @member.active.capitalize %></p>
    <p><b>PayID</b>: <%= @member.payid || '[Add PayID to activate Membership]' %></p>
  </article>
  <nav>
    <%= link_to payid_path, class: 'button' do %>
      PayID
    <% end %>
    <%= link_to dividends_path, class: 'button' do %>
      Dividends
    <% end %>
  </nav>
</main>
