<h1>Corners</h1>
<p>Factory Farming -> Animal Liberation</p>
<p>Environment Degridation -> Rewilding</p>
<p>Factory Education -> Play</p>
<p>Poverty -> Post Scarcity</p>
<p>Misinformation -> Lasting Policital Change</p>
<p>Bullshit Jobs -> Meaningful Work<p>
<p>Jackals -> Giraffes</p>
<p>Planned Obsolescence -> Built to Last</p>
