<h1>Nonviolent Communication</h1>
<p>Why should someone practicing NVC participate in Flourish?</p>
<p>A part of NVC is getting our needs met, and the current system is set up so as to not get our needs met.</p>
<p>By design we are required, do something (work) in order to get something (food and shelter)</p>
<p>It is a rewards based system, established by violence, and maintained by fear</p>
<p>No one person controls it, and no person can change it</p>
<p>The solution is to flip the system around, start giving, widely and indescriminately, little by little, we will be able to create a world of trust where it is easier to get everyones needs met.</p>

