<details>
  <summary>What is required to join?</summary>
  <p>It doesn't cost anything to join, and no minimum contribution is required.</p>
  <p>After email confirmation, new members are included in the weekly distributions and receive dividends.</p>
  <p>In order to have dividends paid out and make contributions to the pool, a <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me</a> handle will need to be attached to the membership.</p>
</details>
