<details>
  <summary>What is required to join?</summary>
  <p>It doesn't cost anything to join, and no minimum contribution is required.</p>
  <p>Simply send us an email to <span data-controller="memberships" data-memberships-target="email"></span> and tell us how you found us and why you want to join.</p>
  <p>After registration, new members are included in the weekly distributions and receive dividends.</p>
  <p>In order to have dividends paid out and make contributions to the pool, a <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me</a> handle will need to be attached to the membership.</p>
</details>
