<details class="collapse collapse-arrow bg-base-200 border border-base-300 mb-3">
  <summary class="collapse-title font-semibold text-secondary text-sm">What is required to join?</summary>
  <div class="collapse-content text-sm text-base-content/80 space-y-2">
    <p>It doesn't cost anything to join, and no minimum contribution is required.</p>
    <p>After email confirmation, new members are included in the weekly distributions and receive dividends.</p>
    <p>In order to have dividends paid out and make contributions to the pool, a <%= link_to 'PayPal.Me', 'https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me', target: '_blank', class: 'link link-primary' %> handle will need to be attached to the membership.</p>
  </div>
</details>
