<details>
  <summary>What is required to join?</summary>
  <p>After email confirmation, new members are able to particpate in distributions.</p>
  <p>In order to receive pay outs and make contributions, members will need to provide their payment information.</p>
</details>
