<details>
  <summary>What currencies are supported?</summary>
  <p>All <a href="https://developer.paypal.com/docs/reports/reference/paypal-supported-currencies/" target="_blank">PayPal supported currencies</a>, with the exception of Taiwanese Dollars, are able to be used on Flourish.</p>
</details>
