<script src="https://www.paypal.com/sdk/js?client-id=AbF5bT4jTqw-gVR_maqKJeCN5U_8n1urStRWwPAdGFb9A5v_cBXnJdcsL0HiiTzCxmHjBdSx-8toWS-b&vault=true&intent=subscription">
</script>
<div id="paypal-button-container"></div>
<script>
  paypal.Buttons({
    createSubscription: function(data, actions) {
      return actions.subscription.create({
        'plan_id': 'P-1JU706727H4798606MLRHCIA' // Creates the subscription
      });
    },
    onApprove: function(data, actions) {
      alert('You have successfully created subscription ' + data.subscriptionID); // Optional message given to subscriber
    }
  }).render('#paypal-button-container'); // Renders the PayPal button
</script>
