<details>
  <summary>Sending contributions</summary>
  <p>Contributions can be sent directly to the <a href="https://www.paypal.com/paypalme/flourishbuzz/" target="_blank">Flourish PayPal.Me</a>.</p>
  <p>These are processed manually, and may take a day to appear in the contributions section of a member's account.</p>
</details>
