<details>
  <summary>Receiving a Pay Out</summary>
  <p>Dividends will be paid out to a member's PayPal account via the <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me</a> ID attached to their membership.</p>
</details>

