<details>
  <summary>Requesting a pay out</summary>
  <p>Once issued, members can elect to have their dividend turned into cash by clicking 'Pay Out'.</p>
  <p>The funds will be transfered to the member's PayPal account via the <a href="https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me" target="_blank">PayPal.Me</a> handle attached to their membership.</p>
</details>

