<h1>Pay Outs</h1>
<% if @dividends.any? %>
  <%= render @dividends %>
<% else %>
  <article>
    <p>[No Payouts]</p>
  </article>
<% end %>
<details>
  <summary>Receiving a Pay Out</summary>
  <p>Dividends will be paid out to a member's <a href="https://payid.com.au/" target="_blank">PayID</a>.
</details>
