<% content_for :title, 'Pay Outs'  %>
<h1>Pay Outs</h1>
<%= render partial: 'details' %>
<% if @dividends.any? %>
  <%= render @dividends %>
<% else %>
  <article>
    <p>Your pay outs will appear here.</p>
  </article>
<% end %>
