<p>Distribution <%= @distribution.name %> has settled with all dividends being either recontributed or paid out.</p>
<p><%= link_to "See full details for Distribution #{@distribution.name}", distribution_url(@distribution) %></p>
