<% content_for :title, 'Dividends'  %>
<h1>Dividends</h1>
<% if @dividends.any? %>
  <%= render @dividends %>
<% else %>
  <article>
    <p>Your dividends will appear here.</p>
  </article>
<% end %>
<%= render partial: 'details' %>
