<h1>Dividend</h1>
<details>
  <summary>Your Dividend</summary>
  <p>Choose to have this dividend paid out to your bank account or recontributed to next week's pool.</p>
</details>
<%= render @dividend %>
