<h1>Dividend</h1>
<%= render @dividend %>
<% if @dividend.issued? %>
  <details>
    <summary>Your Dividend</summary>
    <p>Choose to have this dividend paid out to your PayPal or recontributed to next week's pool.</p>
  </details>
<% end %>
