<details>
  <summary>What is a Distribution?</summary>
  <p>Every week on a <%= DistributionDateService::DAY_OF_THE_WEEK %>, the pool will be dividend equally between each active member and distributed in the form of a dividend.</p>
</details>
