<details>
  <summary>What happens for a distribution?</summary>
  <p>Every <%= DistributionDateService::DAY_OF_THE_WEEK %>, the contributions pool will be dividend equally between each member and distributed as a dividend.</p>
  <p>Members will be notified by email when they have been issued a dividend.</p>
  <p>Members can then choose to have the dividend paid out or can recontribute it back into the pool for the next distribution.</p>
  <p>All unclaimed dividends will be automatically recontributed every <%= RecontributionDateService::DAY_OF_THE_WEEK %> following a distribution.</p>
</details>
