<details>
  <summary>What happens for a distribution?</summary>
  <p>Every <%= DistributionDateService::DAY_OF_THE_WEEK %> the contributions pool is divided equally between all members and distributed as dividends.</p>
  <p>After being notified by email, members can then choose to have their dividend paid out as cash, or, can choose to recontribute it back into the pool for the next week's distribution.</p>
  <p>Every <%= ConsolidationDate::DAY_OF_THE_WEEK %> following a distribution, all unactioned dividends will be automatically recontributed back into the pool.</p>
</details>
