<% content_for :title, 'Distributions'  %>
<h1>Distributions</h1>
<%= render partial: 'details' %>
<% if @distributions.any? %>
  <% @distributions.each do |distribution| %>
    <article>
      <p><b>Date</b>: <%= created_at_formatted distribution %></p> 
      <p><b>Dividend</b>: <%= distribution.dividend_amount_formatted %></p>
      <p><b>Members</b>: <%= distribution.dividends.length %></p>
    </article>
  <% end %>
<% else %>
  <article>
    <p>Distributions will appear here.</p>
  </article>
<% end %>
