<% content_for :title, 'Distributions'  %>
<h1>Distributions</h1>
<%= render partial: 'details' %>
<% if @distributions.any? %>
  <%= render @distributions %>
<% else %>
  <article>
    <p>Distributions will appear here.</p>
  </article>
<% end %>
