<article>
  <p>New expeneses have been added. Please deduct each item separately.</p>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.amount_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>


