<details class="collapse collapse-arrow bg-base-200 border border-base-300 mb-3">
  <summary class="collapse-title font-semibold text-secondary text-sm">Requesting a pay out</summary>
  <div class="collapse-content text-sm text-base-content/80 space-y-2">
    <p>Once issued, members can elect to have their dividend turned into cash by clicking 'Pay Out'.</p>
    <p>The funds will be transferred to the member's PayPal account via the <%= link_to 'PayPal.Me', 'https://www.paypal.com/au/digital-wallet/send-receive-money/paypal-me', target: '_blank', class: 'link link-primary' %> handle attached to their membership.</p>
  </div>
</details>
