<h1>PayPal.Me ID</h1>
<%= form_with model: @member, url: paypalmeid_path do |form| %>
  <article>
    <p>
      <span>PayPal.Me ID</span>
      <%=form.text_field :paypalmeid %>
    </p>
  </article>
  <%= form.submit "Submit" %>
  <%= link_to membership_path, class: 'button' do %>
    Cancel 
  <% end %>
<% end %>
