<details>
  <summary>Sending contributions</summary>
  <p>Contributions can be sent directly to the <a href="https://www.paypal.com/paypalme/flourishbuzz/" target="_blank">Flourish PayPal.Me</a>.</p>
  <p>In order for a contribution to be attached to a given membership, the email attached to the Flourish account and the PayPal account must match.</p>
</details>
