<details>
  <summary>Sending Contributions</summary>
  <p>Contributions can be sent directly to the <a href="https://www.paypal.com/paypalme/flourishbuzz/" target="_blank">Flourish PayPal.Me</a>.</p>
</details>
