<main>
  <h1>Edit Contribution</h1>
  <%= form_with model: @member, url: contribution_path do |form| %>
    <article>
      <p>
      <span>AU$</span>
      <%=form.number_field :contribution_amount, min: Member::MINIMUM_CONTRIBUTION_AMOUNT, required: true %>
      </p>
    </article>
    <%= form.submit "Update Contribution" %>
    <%= link_to edit_activation_path(@member), class: 'button' do %>
      Cancel 
    <% end %>
  <% end %>
</main>
