<% content_for :title, 'Contributions'  %>
<h1>Contributions</h1>
<%= render partial: 'details' %>
<% if @contributions.any? %>
  <%= render @contributions %>
<% else %>
  <article>
    <p>Your contributions will appear here.</p>
  </article>
<% end %>
