<h1>Contributions</h1>
<% if @contributions.any? %>
  <%= render @contributions %>
<% else %>
  <article>
    <p>Your contributions will appear here.</p>
  </article>
<% end %>
<details>
  <summary>Sending Contributions</summary>
  <p>Contributions can be sent directly to <a href="https://www.paypal.com/paypalme/lacassar/" target="_blank">Luke's PayPal.Me<a>.</p>
</details>
