<main>
  <h1>Contribute</h1>
  <%= form_with model: @member, url: contributions_path do |form| %>
    <p>
      <span>AU$</span>
      <%=form.number_field :contribution_amount, min: Member::MINIMUM_CONTRIBUTION_AMOUNT %>
    </p>
    <%= form.submit "Contribute" %>
  <% end %>
</main>
