<h1>PayID</h1>
<%= form_with model: @member, url: payid_path do |form| %>
  <article>
    <p>
    <span>PayID</span>
    <%=form.text_field :payid %>
    </p>
  </article>
  <%= form.submit "Submit" %>
  <%= link_to membership_path, class: 'button' do %>
    Cancel 
  <% end %>
<% end %>
