<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your dividend has been paid out.</p>
    <p><b>Receipt</b>: <%= @dividend.receipt %></p>
    <a><%= link_to "Dividends", dividends_url %></a>
  </body>
</html>

