<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h1>Flourish</h1>
    <%= yield %>
    <p><%= link_to "Notification Preferences", edit_user_registration_url %></p>
  </body>
</html>
